$correct: #A6E39D;
$incorrect: #EAA8BF;

.correct {
  background-color: $correct;
}

.incorrect {
  background-color: $incorrect;
}

.main {
  height: 400px;
}

.controllers {
  max-width: 600px;
  margin: auto;
}

#placeholder {
  font-size: 128pt;
  font-weight: bold;
}

#start {
  margin-top: 100px;
}

#score {
  margin-top: 80px;
  font-size: 50pt;
  font-weight: bold;
}
#restart {
  margin-top: 60px;
}
