$correct: #A6E39D;
$incorrect: #EAA8BF;

.correct {
  background-color: $correct;
}

.incorrect {
  background-color: $incorrect;
}

.main {
  height: 400px;
}

#placeholder {
  font-size: 128pt;
  font-weight: bold;
}

#start {
  margin-top: 100px;
}
